:root{ 
    --primario: #ccc
    --blanco: #fff
    --negro #000

    --fuenteprincipal: arial
    --fuentesec: "Roboto Slab", serif

}

.logg {
    width: 1rem;

}

body {
    font-family: var();
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1b0b0;
    padding: 20px;
}

main {
    padding: 20px;
}

#crear-pregunta {
    border: 1px solid var(--primario);
    padding: 20px;
    margin-bottom: 20px;
}

#crear-pregunta label {
    display: block;
    margin-bottom: 5px;
}

#crear-pregunta input,
#crear-pregunta textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--primario);
}

#crear-pregunta button {
    background-color: #4CAF50;
    color: var(--blanco);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#preguntas {
    /* Estilos para mostrar las preguntas cargadas dinámicamente */
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}
.pie {
    
}
.main-menu {
    display: flex;
    list-style: none;
    justify-content: end;
    margin: auto;
    padding: 0;
}

.menu a {
    display: flex;
    padding: 0 10px;
    text-decoration: none;
    color: red;      
}
.menu a:hover {
    color: white;
    box-sizing: border-box;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    background-color: black;
}